
@{
    ViewData["Title"] = "ConfirmRemove";
}

<h1>ConfirmRemove</h1>

@model Favorite

<div>
    <p class="alert-danger">Are you sure you want to remove this movie from your favorites?</p>
    <table>
        <tr class="text-center border-bottom">
            <th></th>
            <th>TITLE</th>
            <th>
                AVERAGE RATING
                <p><small>out of 10</small></p>
            </th>
            <th>RELEASE DATE</th>
            <th> </th>
        </tr>
        
            <tr class="text-center">
                <td rowspan="3" class="border-bottom"><img src="@Model.PosterPath" /></td>
                <td class="text-lg-center text-primary"><b>@Model.Title.ToUpper()</b></td>
                <td>@Model.RunTime</td>
                <td>@Model.ReleaseDate</td>

                <td>
                    <a href="/Movie/RemoveFromFavorites?id=@Model.Id" class="btn btn-danger">Delete from Favorites</a>
                </td>
            </tr>
            <tr>
                <td class="text-sm-center" colspan="3"><small>@Model.Overview</small></td>
            </tr>
            <tr class="border-bottom">
                <td colspan="6"> </td>
            </tr>
        
    </table>
</div>
