
<h4>Your Favorite Movies</h4>

@model List<Favorite>

<div>
    <table>
        <tr class="text-center border-bottom">
            <th> </th>
            <th> </th>
            <th>TITLE</th>
            <th>AVERAGE RATING
            <p><small>out of 10</small></p></th>
            <th>RELEASE DATE</th>
            <th> </th>
        </tr>
        @foreach (var fav in Model)
        {
            <tr class="text-center">
                <td rowspan="3" class="border-bottom"><img src="@fav.PosterPath" /></td>
                <td colspan="2"><b><h5 class="text-info">@fav.Title.ToUpper()</h5></b></td>
                <td>@fav.RunTime</td>
                <td>@Convert.ToDateTime(@fav.ReleaseDate).ToShortDateString()</td>
                <td> </td>
                <td>
                    <a href="/Movie/ConfirmRemove?id=@fav.Id" class="btn btn-danger">Delete from Favorites</a>
                </td>
            </tr>
            <tr>
                <td class="text-sm-center" colspan="3"><small>@fav.Overview</small></td>
            </tr>
            <tr class="border-bottom">
                <td colspan="6"> </td>
            </tr>
        }
    </table>
</div>
